@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Fira+Sans+Condensed:wght@300;400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Dongle:wght@300&family=Fira+Sans+Condensed:wght@300;400&family=Roboto&display=swap');
 :root {
    --font1: 'Roboto', sans-serif;
    --font2: 'Arimo', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.background {
    background: rgba(192, 177, 177, 0.7)url("../pic/pexels-lumn-1028599.jpg");
    background-size: cover;
    background-blend-mode: darken;
}

.background2 {
    background: rgba(192, 177, 177, 0.7)url("../pic/heather-barnes-1yEXkH0UNMk-unsplash.jpg");
    background-size: cover;
    background-blend-mode: darken;
}

.background3 {
    background: rgba(66, 63, 63, 0.7)url("../pic/pexels-pixabay-46174.jpg");
    background-size: cover;
    background-blend-mode: darken;
}

.logo {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 30%;
}

.logo h1 {
    color: rgb(7, 168, 15);
    font-family: var(--font1);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: sticky;
}

.navlist {
    width: 70%;
    display: flex;
    flex-direction: row;
}

.navlist li {
    list-style: none;
    padding: 22px 30px;
}

.navlist li a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(170, 50, 90);
    font-family: var(--font1);
}

.navlist li a:hover {
    color: red;
}

.intro {
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    height: 95%;
}

.left {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left h1 {
    color: rgb(15, 163, 52);
    font-size: 35px;
    font-family: var(--font1);
    margin-bottom: 12px;
}

.left p {
    color: rgb(39, 4, 4);
    font-size: 20px;
    font-style: italic;
    font-family: var(--font2);
}

.btn {
    padding: 8px 20px;
    margin: 20px 13px;
    border: 2px solid rgb(161, 14, 14);
    border-radius: 8px;
    background: none;
    cursor: pointer;
    color: rgb(182, 12, 12);
    font-size: 25px;
    font-family: var(--font2);
}

.btn:hover {
    color: white;
    background-color: rgb(143, 12, 12);
}

.btn1 {
    padding: 8px 20px;
    margin: 20px 13px;
    border: 2px solid rgb(8, 136, 8);
    border-radius: 8px;
    background: none;
    cursor: pointer;
    color: rgb(12, 150, 41);
    font-size: 25px;
    font-family: var(--font2);
}

.btn1:hover {
    color: white;
    background-color: rgb(14, 161, 14);
}

.burger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
    display: none;
}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

.text-small {
    font-size: 35px;
    font-family: var(--font2);
    font-weight: 500;
}

.text-big {
    font-size: 15px;
    font-style: italic;
    font-family: var(--font1);
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.head h1 {
    color: red;
    font-size: 35px;
    font-family: var(--font1);
}

.head h1 span {
    color: rgb(11, 138, 53);
    font-size: 40px;
    font-family: var(--font1);
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 80%;
}

.section-left {
    flex-direction: row-reverse;
}

.paras {
    padding: 0 65px;
}

.thumbnail img {
    width: 300px;
    height: 300px;
    border: 3px solid black;
    border-radius: 50%;
    margin-top: 23px;
    object-fit: cover;
}

.color1 {
    background-color: rgb(235, 171, 171);
}

.color2 {
    background-color: rgb(213, 245, 165);
}

.about {
    padding: 20px 150px;
}

.p {
    color: white;
    font-family: var(--font1);
    font-size: 15px;
}

.expert .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.content {
    background-color: rgb(221, 247, 216);
}

.expert .content .box {
    width: 250px;
    margin: 15px;
    box-sizing: border-box;
}

.expert .content .box .imgbx {
    position: relative;
    width: 100%;
    height: 300px;
}

.expert .content .box .imgbx img {
    width: 250px;
    height: 300px;
    object-fit: cover;
}

.expert .content .box .text {
    text-align: center;
}

.expert .content .box .text h3 {
    font-weight: 400;
    color: rgb(131, 41, 11);
    font-size: 20px;
    font-family: var(--font2);
    font-weight: 400;
}

.expert .content .box .text p {
    color: rgb(13, 105, 31);
    font-size: 15px;
    font-family: var(--font1);
    margin: 12px 0px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test {
    display: flex;
    flex-direction: row;
}

.tests {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    height: 95%;
}

.lefttest {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 50px;
    border: 3px solid red;
    border-radius: 32px;
    background-color: rgb(252, 222, 216);
}

.photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.lefttest p {
    color: brown;
    font-family: var(--font1);
    font-style: italic;
}

.contactme {
    max-height: 100%;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0px;
    flex-direction: column;
    max-width: 80vw;
}

.form .form-input {
    width: 70%;
    font-size: 20px;
    border: 3px solid red;
    margin: 15px 0;
    padding: 5px 12px;
    background-color: rgb(255, 226, 223);
}

.btn3 {
    color: white;
    border: 2px solid red;
    background-color: red;
}

.btn3:hover {
    color: white;
    background-color: rgb(238, 100, 65);
}

@media only screen and (max-width: 1176px) {
    .navlist {
        flex-direction: column;
        text-align: center;
    }
    .navbar {
        flex-direction: column;
        transition: all 0.3s ease-out;
        height: 577px;
    }
    .h-nav-resp {
        height: 73px;
    }
    .v-class-resp {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .box-main {
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .section {
        flex-direction: column-reverse;
    }
    .paras {
        padding: 0;
        text-align: center;
    }
    .about {
        padding: 22px 35px;
    }
    .test {
        flex-direction: column;
        height: 100%;
    }
    .tests {
        max-width: 100%;
        margin: 20px 10px;
    }
}